<section class="menu">
<div class="menu-items">
    <div class="menu-item" routerLink="/dashboard/enviar" routerLinkActive="active">
        <i class="fa fa-paper-plane"></i> <span>Enviar</span>  
    </div>
    <div class="menu-item" routerLink="/dashboard/cotizar" routerLinkActive="active">
        <i class="fa-solid fa-money-bills"></i>  <span>Cotizar</span> 
    </div>
    <div class="menu-item" routerLink="/dashboard/rastrear" routerLinkActive="active">
        <i class="fas fa-search"></i>  <span>Rastrear</span> 
    </div>
    <div class="menu-item" routerLink="/dashboard/historial" routerLinkActive="active">
        <i class="fa fa-clock-rotate-left"></i>  <span>Historial</span> 
    </div>
    <div class="menu-item" routerLink="/dashboard/problemas" routerLinkActive="active">
        <i class="fa fa-warning"></i>  <span>Problemas</span> 
    </div>
    <div class="menu-item" routerLink="/dashboard/usuario" routerLinkActive="active">
        <i class="fa fa-user"></i>  <span>Usuario</span> 
    </div>
</div>
<div class="footer">
    <div class="footer-title"> Farcel Company</div>
    <div class="footer-subtitle"> Tabajamos cada dia para conectarte con el mundo 💙</div>
    <div class="footer-disclaimer"> Todos los derechos reservados <i class="far fa-registered"></i></div>
</div>
</section>
