<header class="header">
    <span class="logo" routerLink="/home">FARCEL <i class="fas fa-cube"></i> </span>
    <span class="buscador">
        <form class="example">
            <input type="text" placeholder="¿Buscas algo? ¡Escribelo!" name="search">
            <button type="submit"><i class="fas fa-search"></i></button>
          </form>
    </span>
    <span class="usuario">
        <img src="https://imgs.search.brave.com/yqeSWWFTwNvBMB3lvEmDNVSCpOdA5iUg8GcQeCu9rXI/rs:fit:600:600:1/g:ce/aHR0cHM6Ly93d3cu/cG5nYXJ0cy5jb20v/ZmlsZXMvNS9BdmF0/YXItRmFjZS1UcmFu/c3BhcmVudC1CYWNr/Z3JvdW5kLVBORy5w/bmc" alt="Avatar">
    </span>
</header>
