<section class="main-content">
    <div class="heading">
        <div class="main-title">¡Bienvenid@ a Far<span class="text_blue">cel</span>!</div>
        <div class="sub-title">¿Que harás el dia de hoy?</div>
    </div>
    <div class="content">
        <div class="item" routerLink="/dashboard/enviar">Enviar un paquete</div>
        <div class="item" routerLink="/dashboard/cotizar">Cotizar un envío</div>
        <div class="item" routerLink="/dashboard/rastrear">Rastrear mi paquete</div>
        <div class="item" routerLink="/dashboard/historial">Mi historial</div>
        <div class="item" routerLink="/dashboard/problemas">Notificar un problema</div>
        <div class="item" routerLink="/dashboard/usuario">Configuraciones de usuario</div>
    </div>
</section>
