.row{
    width: 100%;
    display: flex;
    gap: 1em;
}

.form-container{
    margin: 2em 0;
    display: flex;
}
.form:first-of-type{
    border-right: .5em solid black;
    border-top-right-radius: 8px;
    padding-left: 0 !important;
}
.form{
    padding: 1.5em;
    width: 50%;
}


button:last-of-type{
    background-color: #7BFF79 !important;
    margin-left: 2em;
}